# Dependencies
node_modules
npm-debug.log*

# Build outputs
.next

# Environment files
.env
.env.local
.env*.local

# Version control
.git
.gitignore

# IDE files
.vscode
.idea

# OS files
.DS_Store

# Documentation
README.md
docs

# Deployment
.vercel

# Misc
*.log
