/* Disable red fill on anchor icon hover */
/* Target Mintlify anchor icon containers */
.anchor-icon,
.anchor-icon:hover,
[class*="anchor-icon"],
[class*="anchor-icon"]:hover,
a[href] .anchor-icon,
a[href]:hover .anchor-icon {
  background-color: transparent !important;
  background: transparent !important;
}

/* Target the icon wrapper/container */
.anchor-icon-wrapper,
.anchor-icon-wrapper:hover,
[class*="icon-wrapper"],
[class*="icon-wrapper"]:hover {
  background-color: transparent !important;
  background: transparent !important;
}

/* Target any div or span containing anchor icons */
div[class*="anchor"]:hover,
span[class*="anchor"]:hover,
a[class*="anchor"]:hover {
  background-color: transparent !important;
  background: transparent !important;
}

/* More specific: target Mintlify's sidebar anchor links */
aside a:hover [class*="icon"],
aside a:hover div[class*="icon"],
aside a:hover span[class*="icon"] {
  background-color: transparent !important;
  background: transparent !important;
}
